h1 {
    color: fuchsia;
    text-align: center;
    font-family: cursive;
    background-color: grey;
}

body { 
    background-color: plum;
}

p {
    color:midnightblue;
}

label {
    color:fuchsia;
    background-color: gray;
    border-style: dotted;
    border-width: thick;
}
