h1 {
    color: turquoise;
    text-align: center;
    font-family: cursive;
}

body { 
    background-color: plum;
}

p {
    color:midnightblue;
}

label {
    color:aqua;
    border-style: dotted;
    border-width: thick;
}
